@charset "UTF-8";
$fontColor: #333;   //全局字体色
$fontSize: 14px;   //全局字体大小
$fontFamily: Arial,Helvetica,sans-serif;   //全局字体
$borderRadius: 6px;    //圆角值

$inputHeight: 2.4em;   //控件高
$inputLine: 1.4em;     //控件行高
$borderNormal: 1px solid #999;  //某些控件的边框
//按钮颜色样式设置
//colorB 边框色 colorT文本色 colorK 背景色
@mixin rexButtonColor($colorB:#999,$colorT:'',$colorK:#ddd){
  @if $colorB != '' {
    border-color: $colorB;
  }
  @if $colorT != '' {
    color: $colorT;
  }
  @if $colorK != '' {
    background: $colorK;
  }
}
//输入框样式设置
//colorB 边框色 colorT文本色 colorK 背景色 colorS 内阴影色 colorU 外阴影色
@mixin rexInputColor($colorB:#999,$colorT:'',$colorK:#fff,$colorS:transparent,$colorU:transparent){
  @if $colorB != '' {
    border-color: $colorB;
  }
  @if $colorT != '' {
    color: $colorT;
  }
  @if $colorK != '' {
    background: $colorK;
  }
  box-shadow:0 0 3px $colorS inset,0 0 2px $colorU;
}
//绝对定位的元素垂直居中视觉协调
@mixin vlMiddle1(){
  position:absolute; top:50%; transform:translateY(-45%);
}
//绝对定位的元素垂直居中
@mixin vlMiddle2(){
  position:absolute; top:50%; transform:translateY(-50%);
}
@mixin disabledShow(){
  cursor:not-allowed;
  background-color:#d0d0d0;
  border-color:#aaa;
  color:#aaa;
}
//渐变动画
@mixin transitionAnimate($time, $property, $function:''){
  transition:{
    duration: $time;
    property: $property;
    @if ($function!=''){
      timing-function: $function;
    }
  }
}
//不可选择
@mixin selectDisabled(){
  user-select:none; -ms-user-select:none; -moz-user-select:none; -webkit-user-select:none;
}
//可选择
@mixin selectEnabled(){
  user-select:text; -ms-user-select:text; -moz-user-select:text; -webkit-user-select:text;
}
