*, *:after, *:before { box-sizing: border-box; }

html, body, h1, h2, h3, h4, h5, h6, dl, dt, dd, p, ul, li, form, iframe, object { margin: 0; padding: 0; }

a { text-decoration: none; color: inherit; -webkit-tap-highlight-color: transparent; }

input, textarea, select, button, option { font-family: inherit; font-size: inherit; color: inherit; -webkit-tap-highlight-color: transparent; }

a:active, a:focus, input:active, input:focus, button:active, button:focus { outline: none; }

input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { border: none; }

table { border-collapse: collapse; border-spacing: 0; width: 100%; }

html, body { font-size: 14px; height: 100%; width: 100%; overflow: hidden; font-family: Arial,Helvetica,sans-serif; color: #333; }

iframe { display: block; width: 100%; height: 100%; position: relative; border: 0; }

::-ms-clear, ::-ms-reveal { display: none; }

.rexInput, .rexSelect, .rexButton, .rexField input { display: inline-block; height: 2.4em; line-height: 1.4em; border: 1px solid #999; outline: 0; vertical-align: middle; border-radius: 6px; padding: 0 .5em; }

.rexLabel { display: inline-block; vertical-align: middle; }

.rexSelect { padding-right: .2em; }

.rexButton { cursor: pointer; user-select: none; -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; border-color: #999; background: #ddd; }
.rexButton:hover { border-color: #ccc; background: #eee; }
.rexButton:active { border-color: #aaa; color: #fff; background: #aaa; }
.rexButton.infor { border-color: #2951d5; color: #fff; background: #2951d5; }
.rexButton.infor:hover { border-color: #6888f1; color: #fff; background: #6888f1; }
.rexButton.infor:active { border-color: #2951d5; color: #2951d5; background: #e2e9ff; }
.rexButton.alert { border-color: #ed3737; color: #fff; background: #ed3737; }
.rexButton.alert:hover { border-color: #f28282; color: #fff; background: #f28282; }
.rexButton.alert:active { border-color: #ed3737; color: #ed3737; background: #ffeeee; }
.rexButton.warning { border-color: #fe9500; color: #fff; background: #fe9500; }
.rexButton.warning:hover { border-color: #ffbf63; color: #fff; background: #ffbf63; }
.rexButton.warning:active { border-color: #fe9500; color: #fe9500; background: #fff4e5; }
.rexButton.ok { border-color: #1a9c00; color: #fff; background: #1a9c00; }
.rexButton.ok:hover { border-color: #75db61; color: #fff; background: #75db61; }
.rexButton.ok:active { border-color: #1a9c00; color: #1a9c00; background: #eaffe6; }
.rexButton.block { display: block; width: 100%; }
.rexButton.fa { min-width: 2.4em; }
.rexButton > .fa:before { opacity: .7; margin: 0 .3em; }
.rexButton:active > .fa:before { opacity: 1; }

.rexInput { -webkit-appearance: none; border-color: #999; background: #fff; box-shadow: 0 0 3px transparent inset, 0 0 2px transparent; }
.rexInput:hover { border-color: #999; background: #efefef; box-shadow: 0 0 3px transparent inset, 0 0 2px transparent; }
.rexInput:focus { border-color: #2951d5; background: #fff; box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset, 0 0 2px rgba(41, 81, 213, 0.5); }
.rexInput.infor { border-color: #2951d5; color: #2951d5; background: #eef4ff; box-shadow: 0 0 3px transparent inset, 0 0 2px transparent; }
.rexInput.infor:hover { background: #dae7ff; box-shadow: 0 0 3px transparent inset, 0 0 2px transparent; }
.rexInput.infor:focus { border-color: #2951d5; background: #fff; box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset, 0 0 2px rgba(41, 81, 213, 0.5); }
.rexInput.alert { border-color: #ed3737; color: #ed3737; background: #fdeaea; box-shadow: 0 0 3px transparent inset, 0 0 2px transparent; }
.rexInput.alert:hover { background: #f6d9d9; box-shadow: 0 0 3px transparent inset, 0 0 2px transparent; }
.rexInput.alert:focus { border-color: #ed3737; background: #fff; box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset, 0 0 2px rgba(255, 55, 55, 0.5); }
.rexInput.warning { border-color: #fe9500; color: #fe9500; background: #fff3e2; box-shadow: 0 0 3px transparent inset, 0 0 2px transparent; }
.rexInput.warning:hover { background: #fde8cb; box-shadow: 0 0 3px transparent inset, 0 0 2px transparent; }
.rexInput.warning:focus { border-color: #fe9500; background: #fff; box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset, 0 0 2px rgba(254, 149, 0, 0.5); }
.rexInput.ok { border-color: #1a9c00; color: #1a9c00; background: #f2ffef; box-shadow: 0 0 3px transparent inset, 0 0 2px transparent; }
.rexInput.ok:hover { background: #e0ffd9; box-shadow: 0 0 3px transparent inset, 0 0 2px transparent; }
.rexInput.ok:focus { border-color: #1a9c00; background: #fff; box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset, 0 0 2px rgba(26, 156, 0, 0.5); }

.rexField { display: inline-block; vertical-align: middle; position: relative; }
.rexField.fa > input { padding-left: 2.4em; padding-right: .5em; }
.rexField.fa:before { position: absolute; width: 2.4em; text-align: center; line-height: 0; top: 50%; left: .1em; opacity: .7; }
.rexField.right.fa > input { padding-left: .5em; padding-right: 2.4em; }
.rexField.right.fa:before { left: auto; right: .1em; }
.rexField > span { position: absolute; width: 2.4em; padding: .1em 0; text-align: center; top: 50%; transform: translateY(-50%); cursor: pointer; left: 2px; border-right: 1px solid #999; opacity: .7; }
.rexField > input { padding-right: 3.2em; padding-left: .5em; }
.rexField > span:hover { opacity: 1; }
.rexField > span:active { color: #2951d5; }
.rexField > span + input { padding-right: .5em; padding-left: 3.2em; }
.rexField > input + span { left: auto; right: 2px; border-right: 0; border-left: 1px solid #999; }
.rexField.extend > input { border-radius: 6px 0 0 6px; border-right-width: 0; }
.rexField.extend > .rexButton { border-radius: 6px 0 0 6px; }
.rexField.extend > .rexButton ~ input { border-radius: 0 6px 6px 0; border-right-width: 1px; border-left-width: 0; }
.rexField.extend > input ~ .rexButton { border-radius: 0 6px 6px 0; }

/*# sourceMappingURL=cssreset.css.map */
