@charset "UTF-8";
$contentColor: #333;   //全局字体色
$inputHeight: 2.4em;   //控件高
$inputLine: 1.4em;     //控件行高
$borderNormal: 1px solid #999;  //某些控件的边框
$borderRadius: 6px;    //圆角值
//按钮颜色样式设置
//colorB 边框色 colorT文本色 colorK 背景色
@mixin rexButtonColor($colorB:#999,$colorT:'',$colorK:#ddd){
  @if $colorB != '' {
    border-color: $colorB;
  }
  @if $colorT != '' {
    color: $colorT;
  }
  @if $colorK != '' {
    background: $colorK;
  }
}
//输入框样式设置
//colorB 边框色 colorT文本色 colorK 背景色 colorS 内阴影色 colorU 外阴影色
@mixin rexInputColor($colorB:#999,$colorT:'',$colorK:#fff,$colorS:transparent,$colorU:transparent){
  @if $colorB != '' {
    border-color: $colorB;
  }
  @if $colorT != '' {
    color: $colorT;
  }
  @if $colorK != '' {
    background: $colorK;
  }
  box-shadow:0 0 3px $colorS inset,0 0 2px $colorU;
}
//绝对定位的元素垂直居中视觉协调
@mixin vlMiddle1(){
  position:absolute; top:50%; transform:translateY(-45%);
}
//绝对定位的元素垂直居中
@mixin vlMiddle2(){
  position:absolute; top:50%; transform:translateY(-50%);
}
@mixin disabledShow(){
  cursor:not-allowed;
  background-color:#d0d0d0;
  border-color:#aaa;
  color:#aaa;
}

*,*:after,*:before{ box-sizing:border-box;}
html,body,h1,h2,h3,h4,h5,h6,dl,dt,dd,p,ul,li,form,iframe,object{ margin:0; padding:0;}
a{ text-decoration:none; color:inherit; -webkit-tap-highlight-color:transparent;}
input,textarea,select,button,option{ font-family:inherit; font-size:inherit; color:inherit;  -webkit-tap-highlight-color:transparent;}
//去掉移动端firefox a标签的虚线框 PC chrome文本输入框的边框焦点时候的颜色
a:active, a:focus, input:active, input:focus, button:active, button:focus{ outline:none;}
//去掉移动端firefox 按钮获得焦点显示虚线框的样式
input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner{ border:none;}
table { border-collapse:collapse; border-spacing:0; width:100%;}
//在IE8下引起了iframe的空白BUG 但需要考虑根元素绝对定位的问题
//如果html不加overflow:hidden 在某些移动端浏览器上会出现html可滚动的情况
html,body{ font-size:14px; height:100%; width:100%; overflow:hidden; font-family:Arial,Helvetica,sans-serif; color:$contentColor;}
//注意 某些版本的IE中（IE9）会导致iframe的内容定位错误，请参考是否去掉该属性，或者为iframe增加relative的属性
iframe{ display:block; width:100%; height:100%; position:relative; border:0;}
//清除现代IE浏览器的输入框和密码框的默认交互按钮 主要用于设定自己的清空按钮和密码可见按钮时不冲突 */
::-ms-clear, ::-ms-reveal{ display:none;}
//图标字体调整
.fa:before{ opacity:.7; display:inline-block;  transform-origin:center; transform:scale(1.2,1.2);}
.fa:active:before{ opacity:1;}

.rexInput,.rexSelect,.rexButton,.rexIconInput input{ display:inline-block; height:$inputHeight; line-height:$inputLine; border:$borderNormal; outline:0; vertical-align:middle; border-radius:$borderRadius; padding:0 .5em; margin:0; -webkit-appearance:none;}
.rexLabel{ display:inline-block; vertical-align:middle;}
.rexSelect{
  padding-right:2em; background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><style type="text/css">.st0{fill:#999;}</style><polygon class="st0" points="10,7.5 2.2,-0.3 0,2 10,12 20,2 17.8,-0.3"/></svg>') no-repeat; background-size:.8em; background-position:right .5em bottom .6em;
  &:hover{ background-color:#eee; background-image:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><style type="text/css">.st0{fill:#333;}</style><polygon class="st0" points="10,7.5 2.2,-0.3 0,2 10,12 20,2 17.8,-0.3"/></svg>')}
  &[disabled]{ @include disabledShow(); background-image:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><style type="text/css">.st0{fill:#aaa;}</style><polygon class="st0" points="10,7.5 2.2,-0.3 0,2 10,12 20,2 17.8,-0.3"/></svg>')}
}
//按钮详细样式
.rexButton {
  cursor: pointer; user-select:none; -ms-user-select:none; -moz-user-select:none; -webkit-user-select:none; line-height:$inputLine+.2em;
  @include rexButtonColor();
  &:hover {
    @include rexButtonColor(#ccc, '', #eee);
  }
  &:active {
    @include rexButtonColor(#aaa, #fff, #aaa);
  }
  &[color='infor']{
    @include rexButtonColor(#2951d5, #fff, #2951d5);
    &:hover{
      @include rexButtonColor(#6888f1, #fff, #6888f1);
    }
    &:active{
      @include rexButtonColor(#2951d5, #2951d5, #e2e9ff);
    }
  }
  &[color='alert']{
    @include rexButtonColor(#ed3737, #fff, #ed3737);
    &:hover{
      @include rexButtonColor(#f28282, #fff, #f28282);
    }
    &:active{
      @include rexButtonColor(#ed3737, #ed3737, #ffeeee);
    }
  }
  &[color='warning']{
    @include rexButtonColor(#fe9500, #fff, #fe9500);
    &:hover{
      @include rexButtonColor(#ffbf63, #fff, #ffbf63);
    }
    &:active{
      @include rexButtonColor(#fe9500, #fe9500, #fff4e5);
    }
  }
  &[color='ok']{
    @include rexButtonColor(#1a9c00, #fff, #1a9c00);
    &:hover{
      @include rexButtonColor(#75db61, #fff, #75db61);
    }
    &:active{
      @include rexButtonColor(#1a9c00, #1a9c00, #eaffe6);
    }
  }
  //块按钮
  &.block{ display:block; width:100%;}
  //单独图标的按钮
  &.fa{ min-width:$inputHeight;}
  //图标文本按钮
  &>.fa:before{ margin:0 .3em;}
  &:active>.fa:before{ opacity:1;}
  //禁用的按钮
  &[disabled],&[disabled]:hover{ @include disabledShow();}
}
//输入框详细样式
.rexInput {
  @include rexInputColor();
  &:hover {
    @include rexInputColor(#999, '', #efefef);
  }
  &:focus {
    @include rexInputColor(#2951d5, '', #fff, rgba(0,0,0,.1),rgba(41,81,213,.5));
  }
  &[color='infor']{
    @include rexInputColor(#2951d5, #2951d5, #eef4ff);
    &:hover {
      @include rexInputColor('', '', #dae7ff);
    }
    &:focus {
      @include rexInputColor(#2951d5, '', #fff, rgba(0,0,0,.1),rgba(41,81,213,.5));
    }
  }
  &[color='alert']{
    @include rexInputColor(#ed3737, #ed3737, #fdeaea);
    &:hover {
      @include rexInputColor('', '', #f6d9d9);
    }
    &:focus {
      @include rexInputColor(#ed3737, '', #fff, rgba(0,0,0,.1),rgba(273,55,55,.5));
    }
  }
  &[color='warning']{
    @include rexInputColor(#fe9500, #fe9500, #fff3e2);
    &:hover {
      @include rexInputColor('', '', #fde8cb);
    }
    &:focus {
      @include rexInputColor(#fe9500, '', #fff, rgba(0,0,0,.1),rgba(254,149,0,.5));
    }
  }
  &[color='ok']{
    @include rexInputColor(#1a9c00, #1a9c00, #f2ffef);
    &:hover {
      @include rexInputColor('', '', #e0ffd9);
    }
    &:focus {
      @include rexInputColor(#1a9c00, '', #fff, rgba(0,0,0,.1),rgba(26,156,0,.5));
    }
  }
  &[disabled],&[disabled]:hover{ @include disabledShow();}
}
//带图标的输入框
.rexIconInput{
  display:inline-block; vertical-align:middle; position:relative; line-height:0; height:$inputHeight;
  &>.fa{ min-width:$inputHeight; text-align:center; @include vlMiddle1(); line-height:$inputLine; left:0;}
  &:hover>.fa:before{ opacity:1;}
  &>input{ padding-right:$inputHeight;}
  &>.fa+input{ padding-left:$inputHeight; padding-right:.5em;}
  &>input+.fa{ left:auto; right:0;}
  //可点击的图标
  &.button>.fa{ cursor:pointer; -webkit-tap-highlight-color:transparent;}
  &.button>.fa:after{ content:''; height:1.2em; border-right:$borderNormal; right:0; @include vlMiddle2();}
  &.button>.fa:hover{ color:#2951d5;}
  &.button>input{ padding-right:$inputHeight+.5em;}
  &.button>.fa+input{ padding-left:$inputHeight+.5em; padding-right:.5em;}
  &.button>input+.fa:after{ right:auto; left:0; border-left:$borderNormal; border-right:0;}
}
//组合输入框
.rexCombine{
  display:inline-block; vertical-align:middle; white-space:nowrap; line-height:$inputLine; font-size:0;
  &>*{ font-size:14px;}
  &>*, &>.rexIconInput>input{ border-radius:0; border-right-width:0;}
  &>*:first-child, &>.rexIconInput:first-child>input{ border-radius:$borderRadius 0 0 $borderRadius;}
  &>*:last-child, &>.rexIconInput:last-child>input{ border-radius:0 $borderRadius $borderRadius 0; border-right-width:1px;}
}
//单选复选按钮
//目前的问题依然在和其他控件文本垂直居中对齐上产生的问题，目前通过设置外框固定高和行高，内部label的行高按需微调
.rexCheck{
  display:inline-block; vertical-align:middle; position:relative; line-height:0; height:$inputHeight;
  input{
    position:absolute; z-index:1; top:0; left:0; cursor:pointer; height:$inputHeight; width:$inputHeight; opacity:0;
    &+label{ line-height:$inputHeight + .05em; padding-left:1.2em; vertical-align:middle; position:relative;}
    &+label:before{ content:""; height:1em; width:1em; @include vlMiddle2(); left:0; background-repeat:no-repeat; background-size:contain;}
    &[type="checkbox"]+label:before{ background-image:url(images/checkFalse.svg);}
    &[type="checkbox"]:checked+label:before{ background-image:url(images/checkTrue.svg);}
    &[type="radio"]+label:before{ background-image:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><style type="text/css">.st0{fill:#FFFFFF;}.st1{fill:#231815;}</style><circle id="XMLID_1_" class="st0" cx="32" cy="32" r="30"/><path id="XMLID_6_" class="st1" d="M32,2C15.4,2,2,15.4,2,32s13.4,30,30,30s30-13.4,30-30S48.6,2,32,2z M32,58C17.6,58,6,46.4,6,32 C6,17.6,17.6,6,32,6s26,11.6,26,26C58,46.4,46.4,58,32,58z"/></svg>');}
    &[type="radio"]:checked+label:before{ background-image:url(images/radioTrue.svg);}
  }
}
