@charset "utf-8";
/*
//CSS样式框架 包含表单控件优化及对话框 临时去除移动端框架，等后期用到时候再调整后增加到这里
//Version 0.3 IE10+
//author relaxWang begin 2015/12
//last modify 2018/1/24
//目前图标使用的是修改优化过后的fontawersome 以.fa类作为引用起始
//修改对话框的IE8样式协调
*/

/* =========== reset ============= */
*{ font-family:"Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif; box-sizing:border-box;}
*:after,*:before{ box-sizing:border-box;}
html,body,h1,h2,h3,h4,h5,h6,dl,dt,dd,p,ul,li,form,iframe,object,input,select,button{ margin:0; padding:0;}
a{ text-decoration:none; color:inherit; -webkit-tap-highlight-color:transparent;}
input,textarea,select,button,option{ font-family:inherit; font-size:inherit; color:inherit;}
/*去掉移动端firefox a标签的虚线框 PC chrome文本输入框的边框焦点时候的颜色 */
a:active, a:focus, input:active, input:focus, button:active, button:focus,textarea:focus{ outline:none; -moz-outline:none;}
/*去掉移动端firefox 按钮获得焦点显示虚线框的样式 */
input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner{ border:none;}
table { border-collapse:collapse; border-spacing:0; width:100%;}
/* 在IE8下引起了iframe的空白BUG 但需要考虑根元素绝对定位的问题 */
/* 如果html不加overflow:hidden 在某些移动端浏览器上会出现html可滚动的情况 */
html,body{ /* position:relative; */ height:100%; width:100%; overflow:hidden;}
/* 注意 某些版本的IE中（IE9）会导致iframe的内容定位错误，请参考是否去掉该属性，或者为iframe增加relative的属性 */
iframe{ display:block; width:100%; height:100%; position:relative; border:0;}
/* 清除现代IE浏览器的输入框和密码框的默认交互按钮 主要用于设定自己的清空按钮和密码可见按钮时不冲突 */
::-ms-clear, ::-ms-reveal{ display:none;}
/* 针对不支持语义化标签浏览器做的应对*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{ display:block;}
/* chrome内核浏览器对cursor:pointer的样式对象，点击触发样式中会有浅蓝色背景框，用该样式去除 */
/* -webkit-tap-highlight-color:rgba(255,255,255,0); */
/* reset end */

/* css3 背景装饰 */
.bkStpH{ background-image:repeating-linear-gradient(0deg, rgba(255,255,255,.3) 0, rgba(255,255,255,.3) 8px, transparent 0, transparent 16px);}
.bkStpV{ background-image:repeating-linear-gradient(90deg, rgba(255,255,255,.3) 0, rgba(255,255,255,.3) 8px, transparent 0, transparent 16px);}
.bkStpD{ background-image:repeating-linear-gradient(45deg, rgba(255,255,255,.3) 0, rgba(255,255,255,.3) 8px, transparent 0, transparent 16px);}
.bkStpD2{ background-image:repeating-linear-gradient(135deg, rgba(255,255,255,.3) 0, rgba(255,255,255,.3) 8px, transparent 0, transparent 16px);}
.bkStpHS{ background-image:repeating-linear-gradient(0deg, rgba(255,255,255,.3) 0, rgba(255,255,255,.3) 8px, transparent 0, transparent 16px), repeating-linear-gradient(90deg, rgba(255,255,255,.3) 0, rgba(255,255,255,.3) 8px, transparent 0, transparent 16px);}
.bkStpDS{ background-image:repeating-linear-gradient(45deg, rgba(255,255,255,.3) 0, rgba(255,255,255,.3) 8px, transparent 0, transparent 16px), repeating-linear-gradient(135deg, rgba(255,255,255,.3) 0, rgba(255,255,255,.3) 8px, transparent 0, transparent 16px);}
.bkPot{ background-image:radial-gradient(rgba(255,255,255,.3) 30%, transparent 0),radial-gradient(rgba(255,255,255,.3) 30%, transparent 0); background-size:2em 2em; background-position:0 0,1em 1em;}

/* =============== controls ==================== */
/* 部件公用 */
.rexButton,.rexInput,.rexCheck,.rexTurn label,.rexSwitch,.rexSelect,.rexLabel,.rexTip,.rexField,.rexComboBox,.rexTxtarea{ display:inline-block; padding:.5em .8em; border:1px solid #aaa; background-color:#f0f0f0; border-radius:6px; overflow:hidden; vertical-align:middle; line-height:normal; position:relative; white-space:nowrap;}
/* 表单项名称 */
.rexLabel{ border-color:transparent; background-color:transparent; padding-left:0; padding-right:0;}
/* 便签块 */
.rexTip{ display:inline; vertical-align:baseline; border-color:transparent; background-color:#333; color:#fff; font-size:.85em; padding:0 .3em;}
/* 按钮 */
.rexButton{ cursor:pointer; border-color:#aaa; background-color:#f2f2f2;}
.rexButton>.fa{ opacity:0.7;}
.rexButton.sBlk.tLT>.fa{ position:absolute; top:50%; transform:translateY(-50%); right:.8em;}
.rexButton.sBlk.tRT>.fa{ position:absolute; top:50%; transform:translateY(-50%); left:.8em;}
.rexButton.sBlk.tLT>.rexTip{ position:absolute; top:50%; right:0.8em; transform:translateY(-50%);}
.rexButton.sBlk.tRT>.rexTip{ position:absolute; top:50%; left:0.8em; transform:translateY(-50%);}
.rexButton:hover{ background-color:#ccc;}
.rexButton:active{ border-color:#8e8e8e; background-color:#fff;}
.rexButton:active>.fa{ opacity:1;}
.rexButton.ss{ font-size:.85em; padding:.3em .6em;}
.rexButton.sm{ font-size:.85em; padding:.1em .1em;}
.rexButton.noside{ border-color:transparent; background-color:transparent;}
.rexButton.noside:hover{ color:#f90;}
.rexButton[disabled]{ background-color:#ddd!important; border-color:#bbb!important; color:#aaa!important; background-image:none; box-shadow:none;}
.rexButton.noside[disabled]{ border-color:transparent!important; background-color:transparent!important;}
/* 输入框 */
.rexInput{ background-color:#fff; position:static;}
.rexInput:hover{}
.rexInput:focus{ border-color:#2966d6; box-shadow:0 0 2px #9dbdff inset;}
.rexInput:-ms-input-placeholder{ color:#767676;}
.rexInput[disabled]{ background-color:#f0f0f0!important; color:#aaa!important;}
/* 文字输入域 */
.rexTxtarea{ background-color:#fff; overflow:auto; white-space:normal;}
.rexTxtarea:focus{ border-color:#2966d6; box-shadow:0 0 2px #9dbdff inset;}
.rexTxtarea[disabled]{ background-color:#f0f0f0!important; color:#aaa!important;}
/* 输入框域 */
.rexField{ padding:0; border:0; border-radius:0; background-color:transparent;}
.rexField.fa:before{ position:absolute; top:50%; left:0; transform:translateY(-50%); width:2.2em; padding:.1em 0; text-align:center; z-index:5; border-right:1px solid #ccc; opacity:0.6;}
.rexField.fa:hover:before{ opacity:1;}
.rexField.fa .rexInput{ padding-left:3em;}
.rexField.fa.right:before{ left:auto; right:0; border-right:0; border-left:1px solid #ccc;}
.rexField.fa.right .rexInput{ padding-left:.8em; padding-right:3em;}
.rexField .rexInput{ width:100%;}
/* 单选复选框 */
.rexCheck{ border-color:transparent; background-color:transparent; padding-left:0; padding-right:0;}
.rexCheck input[type="checkbox"],.rexCheck input[type="radio"]{ position:absolute; z-index:5; top:0; left:0; width:100%; height:100%; opacity:0; cursor: pointer;}
.rexCheck input+label{ padding-left:1.2em; position:relative;}
.rexCheck input+label:before{ content:""; height:1em; width:1em; position:absolute; left:0; top:50%; transform:translateY(-50%); background-repeat:no-repeat; background-size:contain;}
.rexCheck input[type="checkbox"]+label:before{ background-image:url(images/checkFalse.svg);}
.rexCheck input[type="checkbox"]:checked+label:before{ background-image:url(images/checkTrue.svg);}
.rexCheck input[type="radio"]+label:before{ background-image:url(images/radioFalse.svg);}
.rexCheck input[type="radio"]:checked+label:before{ background-image:url(images/radioTrue.svg);}
/* 块状单选复选框 */
.rexTurn{ position:relative; display:inline-block; overflow:visible;}
.rexTurn input{ position:absolute; z-index:5; top:0; left:0; width:100%; height:100%; opacity:0; cursor: pointer;}
.rexTurn input:checked+label{ background-color:#fff; border-color:#666;}
.rexTurn input:checked+label:after{ content:""; position:absolute; z-index:5; width:0; height:0; line-height:0; text-align:right; border:.5em solid #666; border-top-color:transparent; border-left-color:transparent; border-bottom-right-radius:4px; bottom:0; right:0;}
.rexTurn input[type="checkbox"]:checked+label:before{ content:"√"; position:absolute; z-index:6; font-size:.85em; color:#fff; bottom:0; right:1px;}
.rexTurn.ok input:checked+label{ border-color:#0c8311; background-color:#e0fee2; color:#0c8311;}
.rexTurn.ok input:checked+label:after{ border-color:#0c8311; border-top-color:transparent; border-left-color:transparent;}
.rexTurn.alert input:checked+label{ border-color:#e60606; background-color:#ffe2e2; color:#e60606;}
.rexTurn.alert input:checked+label:after{ border-color:#e60606; border-top-color:transparent; border-left-color:transparent;}
.rexTurn.infor input:checked+label{ border-color:#4b6ca9; background-color:#d1e1ff; color:#4b6ca9;}
.rexTurn.infor input:checked+label:after{ border-color:#4b6ca9; border-top-color:transparent; border-left-color:transparent;}
.rexTurn.warning input:checked+label{ border-color:#f90; background-color:#fff3dc; color:#f90;}
.rexTurn.warning input:checked+label:after{ border-color:#f90; border-top-color:transparent; border-left-color:transparent;}
.rexTurn[disabled] input{ display:none;}
.rexTurn[disabled] label{ cursor:not-allowed;}
.rexTurn[disabled] label,.rexTurn[disabled] input:checked+label{ border-color:#ccc; background-color:#f0f0f0; color:#999;}
.rexTurn[disabled] input:checked+label:after{ border-color:#999; border-top-color:transparent; border-left-color:transparent;}

/* 开关复选框 */
.rexSwitch{ padding:0;}
.rexSwitch label{ display:inline-block; padding:.5em .6em; vertical-align:middle;}
.rexSwitch input[type="checkbox"]{ position:absolute; z-index:5; top:0; left:0; width:100%; height:100%; opacity:0; cursor:pointer;}
.rexSwitch input+label{ background-color:#fff; box-shadow:0 0 5px rgba(0,0,0,0.5); border-radius:6px;}
.rexSwitch input+label+label{ color:#999;}
.rexSwitch input:checked+label{ background-color:transparent; box-shadow:none; border-radius:0; color:#999;}
.rexSwitch input:checked+label+label{ background-color:#fff; box-shadow:0 0 5px rgba(0,0,0,0.5); border-radius:6px; color:inherit;}
/* 选项卡头 */
.rexTab{ list-style:none; border-bottom:1px solid #ccc; width:100%; white-space:nowrap;}
.rexTab>li{ display:inline-block;}
.rexTab .rexItem{ position:relative; padding:.6em 1em; background-color:#999; color:#fff; margin:0 .1em; border-radius:6px 6px 0 0; cursor:pointer;}
.rexTab .rexItem:hover{ background-color:#aaa;}
.rexTab .rexItem.sel{ background-color:#fff; color:#333; font-weight:600; border:1px solid #ccc; border-bottom:0;}
.rexTab .rexItem.sel:after{ content:""; position:absolute; width:100%; height:3px; background-color:#fff; left:0; bottom:-2px;}
/* 下拉框 */
.rexSelect{ background-color:#fff; height:2.32em; padding-top:.4em; padding-bottom:.4em;}
.rexSelect:focus{ border:1px solid #2966d6; outline:none; box-shadow:0 0 2px #9dbdff inset;}
.rexSelect.warning{ background-color:#fff3dc; border-color:#f90;}
.rexSelect.warning:focus{ border-color:#f90; box-shadow:0 0 2px #f90 inset;}
.rexSelect[disabled]{ background-color:#eee; color:#aaa; border-color:#aaa;}
/* 下拉框加强版 */
.rexComboBox{ padding:0; border:0; background-color:transparent; overflow:visible;}
.rexComboBox:before{ cursor:pointer; height:100%; padding:0 .4em; position:absolute; right:0; top:50%; transform:translateY(-50%); z-index:1; background-color:#eee; border:1px solid transparent; border-left:1px solid #999; background-clip:padding-box; border-radius:0 6px 6px 0; line-height:2.1; overflow:hidden;}
.rexComboBox .rexDrop{ display:block; height:0; overflow:hidden; min-width:100%; max-width:150%; position:absolute; top:100%; z-index:10; background-color:#fff;}
.rexComboBox .rexInput:focus+.rexDrop{ height:auto; max-height:100px; border:1px solid #7a9cd3;}
.rexComboBox ul{ min-height:1.6em; max-height:100px; overflow-y:auto; overflow-x:hidden; width:auto;}
.rexComboBox li{ padding:.15em .3em;}
.rexComboBox li:hover{ background-color:#32a2f2; color:#fff;}
.rexComboBox li[selected]{ background-color:#ffa92d; color:#fff;}
.rexComboBox li.h{ display:none;}
.rexComboBox li b{ color:red;}
/* 按钮色彩*/
.rexButton.ok{ background-color:#0c8311; border-color:#0c8311; color:#fff;}
.rexButton.ok:hover{ background-color:#44b049; border-color:#44b049; color:#fff;}
.rexButton.ok:active{ background-color:#e0fee2; border-color:#0c8311; color:#0c8311;}
.rexButton.alert{ background-color:#e60606; border-color:#e60606; color:#fff;}
.rexButton.alert:hover{ background-color:#ea4f4f; border-color:#ea4f4f; color:#fff;}
.rexButton.alert:active{ background-color:#ffe2e2; border-color:#e60606; color:#e60606;}
.rexButton.infor{ background-color:#4b6ca9; border-color:#4b6ca9; color:#fff;}
.rexButton.infor:hover{ background-color:#7696d3; border-color:#7696d3; color:#fff;}
.rexButton.infor:active{ background-color:#d1e1ff; border-color:#4b6ca9; color:#4b6ca9; }
.rexButton.default{ background-color:#f0f0f0; border-color:#aaa; color:#333;}
.rexButton.default:hover{ background-color:#ccc; border-color:#aaa; color:#333;}
.rexButton.default:active{ background-color:#fff; border-color:#8e8e8e; color:#333;}
.rexButton.warning{ background-color:#ec9000; border-color:#ec9000; color:#fff;}
.rexButton.warning:hover{ background-color:#e4a33e; border-color:#e4a33e; color:#fff;}
.rexButton.warning:active{ background-color:#fae5c3; border-color:#ec9000; color:#ec9000;}
/* 输入框色彩*/
.rexField.ok .rexInput,.ok.rexInput,.ok.rexTxtarea{ border-color:#0c8311; background-color:#e0fee2;}
.rexField.alert .rexInput,.alert.rexInput,.alert.rexTxtarea{ border-color:#e60606; background-color:#ffe2e2;}
.rexField.infor .rexInput,.infor.rexInput,.infor.rexTxtarea{ border-color:#4b6ca9; background-color:#d1e1ff;}
.rexField.default .rexInput,.default.rexInput,.default.rexTxtarea{ border-color:#aaa; background-color:#fff;}
.rexField.warning .rexInput,.warning.rexInput,.warning.rexTxtarea{ border-color:#f90; background-color:#fff3dc;}
/*便签块色彩*/
.rexTip.ok{ background-color:#0c8311; color:#fff;}
.rexTip.alert{ background-color:#e60606; color:#fff;}
.rexTip.infor{ background-color:#4b6ca9; color:#fff;}
.rexTip.default{ background-color:#333; color:#fff;}
.rexTip.warning{ background-color:#ec9000; color:#fff;}

/* ============ 对话框 ======================*/
/* 对话框通用的标题栏和按钮栏样式 */
.extDialog.none,.extMenu.none{ background-color:transparent;}
.extDialog.white,.extMenu.white{ background-color:rgba(255,255,255,.7);}
.dialog-title{ position:absolute; top:0; left:0; width:100%; height:3.2em; z-index:5; background-color:#e5e5e5; border-bottom:1px solid #ccc; white-space:nowrap;}
.dialog-title .opBnt{ position:absolute; top:50%; line-height:0; z-index:10; cursor:pointer;}
.dialog-title .opBnt:active{ color:#f90;}
.dialog-title .fa:before{ line-height:0;}
.dialog-title .left{ left:.5em;}
.dialog-title .right{ right:.5em;}
.dialog-title h4{ line-height:3.2em; text-align:center;}
.dialog-title h4.left{ text-align:left; padding-left:4em;}
.dialog-buttonBar{ position:absolute; bottom:0; left:0; width:100%; height:3.8em; z-index:5; background-color:#f0f0f0; border-top:1px solid #ccc; line-height:3.5em; text-align:center;}
.dialog-title+.dialog-content{ border-top:3.2em solid transparent;}
.dialog-buttonBar+.dialog-content{ border-bottom:3.8em solid transparent;}
.dialog-title+.dialog-buttonBar+.dialog-content{ border-top:3.2em solid transparent; border-bottom:3.8em solid transparent;}
/* 普通弹出框 */
.extDialog{ position:fixed; top:0; left:0; right:0; bottom:0; z-index:1000; text-align:center; white-space:nowrap; visibility:hidden; background-color:rgba(0,0,0,.6);}
.extDialog:before{ content:""; display:inline-block; height:100%; width:0; overflow:hidden; vertical-align:middle;}
.extDialog.show{ visibility:visible;}
.extDialog .dialogFrame{ display:inline-block; vertical-align:middle; width:100%; min-width:300px; max-width:650px; background-color:#fff; position:relative; border:1px solid #ccc; box-shadow:0 0 15px rgba(0,0,0,.6); border-radius:6px; overflow:hidden;}
.extDialog .dialog-content{ display:inline-block; width:100%; max-height:350px; overflow:auto; -webkit-overflow-scrolling:touch; white-space:normal;}
/* 自隐藏对话框 */
.miniDialog{ position:fixed; left:0; z-index:1000; width:100%; text-align:center; padding:0 1em; opacity:0; visibility:hidden; transition-property:visibility,transform,opacity; transition-duration:.5s;}
.miniDialog.top{ top:3%; transform:translateY(-300%);}
.miniDialog.bottom{ bottom:3%; transform:translateY(300%);}
.miniDialog .dialog-content{ display:inline-block; width:auto; box-shadow:0 0 15px rgba(0,0,0,0.6); word-break:break-all; border-radius:6px; background-color:#333; color:#fff; padding:.6em 1em;}
.miniDialog.show.top,.miniDialog.show.bottom{ transform:none; opacity:1; visibility:visible;}
/* 平移对话框 */
.extMenu{ position:fixed; z-index:1000; top:0; bottom:0; left:0; right:0; visibility:hidden; opacity:0; transition-property:visibility,opacity; transition-duration:.45s; background-color:rgba(0,0,0,.6); overflow:hidden;}
.extMenu .dialogFrame{ position:absolute; background-color:#fff; transition-property:transform; transition-duration:.45s;}
.extMenu.left .dialogFrame{ top:0; left:0; bottom:0; width:75%; min-width:290px; transform:translateX(-110%);}
.extMenu.right .dialogFrame{ top:0; right:0; bottom:0; width:75%; min-width:290px; transform:translateX(110%);}
.extMenu.top .dialogFrame{ top:0; left:0; right:0; overflow:hidden; height:40%; min-height:290px; transform:translateY(-110%);}
.extMenu.bottom .dialogFrame{ bottom:0; left:0; right:0; width:100%; overflow:hidden; height:40%; min-height:290px; transform:translateY(110%);}
.extMenu .dialog-content{ display:block; width:100%; height:100%; overflow:auto;}
.extMenu.show{ visibility:visible; opacity:1;}
.extMenu.show .dialogFrame{ transform:none;}
/* 模仿单页对话框 */
.extPage{ position:fixed; top:0; right:0; bottom:0; left:0; z-index:1000; box-shadow:0 0 15px rgba(0,0,0,0.6); transition-property:transform; transition-duration:.45s; transform:translateX(110%); background-color:#fff;}
.extPage.show{ transform:none;}
.extPage .dialogFrame{ width:100%; height:100%;}
.extPage .dialog-content{ display:block; width:100%; height:100%; overflow:auto;}

/* ============ 装饰细节 ==========================*/
/* 文字大小及颜色公共样式 */
.t6{ font-size:24px!important;}
.t5{ font-size:20px!important;}
.t4{ font-size:18px!important;}
.t3{ font-size:16px!important;}
.t2{ font-size:14px!important;}
.t1{ font-size:12px!important;}
.c00{ color:#000;}
.c03{ color:#333;}
.c06{ color:#666;}
.c09{ color:#999;}
.c0A{ color:#aaa;}
.c0C{ color:#ccc;}
.c0E{ color:#eee;}
.c0F{ color:#fff;}

/* 装饰性样式 */
*[disabled]{cursor:not-allowed!important;}
.sBlk{ display:block; width:100%;}
.s3D{ background-image:linear-gradient(180deg, rgba(255,255,255,0.3) 0, transparent 100%);}
.sShadow{ box-shadow:0 2px 4px rgba(0,0,0,0.4);}
.sShadow:active{ box-shadow:none;}
.tLT{ text-align:left!important;}
.tRT{ text-align:right!important;}
.tCT{ text-align:center!important;}
.sP1{ padding:10px;}
.sP2{ padding:5px;}
/* 文本选中禁止，IE下有些问题 IE10 IE11部分支持，选择从按钮开始则无法选择，从可选择元素可以则可以选择 IE9,IE8不支持 */
.noSelect{ user-select:none; -ms-user-select:none; -moz-user-select:none; -webkit-user-select:none;}
.doSelect{ user-select:text; -ms-user-select:text; -moz-user-select:text; -webkit-user-select:text;}
.noHead{ list-style:none;}
/* 输入转化成大写 */
.upcase{ text-transform:uppercase;}

/* firefox 兼容性统一在此调整 */
@-moz-document url-prefix(){
	.rexSelect{ height:2.44em;}
}

/* ============= 本站公用部分 ======================*/
html{ font-size:10px;}
body{ font-size:14px;}
.outFrame{ width:100%; height:100%; margin:0; padding:0; position:relative; z-index:0; overflow:auto; -webkit-overflow-scrolling:touch;}
.dataField{ display:none;}
.bkStyle1{ background-image:linear-gradient(45deg,transparent 25px,#a5acdd 0,#a5acdd 30px,transparent 0,transparent 35px,#a5acdd 0,#a5acdd 40px,transparent 0,transparent 45px,#a5acdd 0,#a5acdd 50px,transparent 0,transparent 55px,#a5acdd 0,#a5acdd 60px,transparent 0); background-repeat:no-repeat; background-position:-30px bottom; background-size:150px 50px;}
.bkStyle2{ background-image:linear-gradient(45deg,transparent 25px,#a5acdd 0,#a5acdd 30px,transparent 0,transparent 35px,#a5acdd 0,#a5acdd 40px,transparent 0,transparent 45px,#a5acdd 0,#a5acdd 50px,transparent 0,transparent 55px,#a5acdd 0,#a5acdd 60px,transparent 0),linear-gradient(45deg,transparent 35px,transparent 0,#a5acdd 35px); background-repeat:no-repeat; background-position:-30px bottom,bottom right; background-size:150px 50px,400px 50px;}
/* 页面三层布局 */
.rexFrame{ padding-top:70px; padding-bottom:50px;}
.rexTopbar{ height:70px; width:100%; margin-top:-70px;}
.rexBottom{ height:50px; width:100%; margin-top:-50px;}
.rexLeftpart{ float:left; width:200px; height:100%; overflow:auto;}
.rexRightpart{ display:block; margin-left:200px; height:100%; overflow:auto;}
.rexFrame.nt{ padding-top:0;}
.rexFrame.nb{ padding-bottom:0;}
.rexFrame.nl .rexRightpart{ margin-left:0;}
/* 页面标题头 */
.header.rexFrame{ padding-top:49px;}
.header .rexTopbar{ height:49px; margin-top:-49px; position:relative;}
.header h2{ padding-left:60px; line-height:44px; background-color:#282f5d; color:#fff; font-size:18px; font-weight:normal;}
.header h2.tCT{ padding-left:0;}
.header h2 .fa{ color:#becaff;}
.header .tools{ position:absolute; right:10px; top:10px;}
.header .count{ padding-right:10px; vertical-align:middle;}
.header .count strong{ color:#d70000;}
/* 表格内容 */
.captionTitle{ padding:10px 0 5px 0; text-align:left; line-height:30px;}
.captionTitle span{ color:#777; font-size:16px;}
.captionTitle span:before{ color:#eb8e16;}
.captionTitle .rexButton{ float:right; font-size:14px;}

.tableFrame{ border:1px solid #ccc; padding:1px;}
.rexTable{ width:100%; text-align:center; background-color:#3b4798;}
.rexTable.fixed{ table-layout:fixed;}
.rexTable tr:nth-child(even){ background-color:rgba(255,255,255,.9);}
.rexTable tr:nth-child(odd){ background-color:rgba(255,255,255,.8);}
.rexTable tr:hover{ background-color:#fee5a7;}
.rexTable tr:first-child{ background-color:transparent; color:#fff;}
.rexTable th,.rexTable td{ border:1px solid #fff;}
.rexTable th{ padding:7px 5px; font-size:1.1em;}
.rexTable td{ padding:5px 5px;}

.rexRowtable{ width:100%; text-align:center; background-color:#3b4798;}
.rexRowtable tr:nth-child(even){ background-color:rgba(255,255,255,1);}
.rexRowtable tr:nth-child(odd){ background-color:rgba(255,255,255,1);}
.rexRowtable tr{ border-bottom:1px dashed #7b84ba;}
.rexRowtable tr:hover{ background-color:#fee5a7;}
.rexRowtable tr:first-child{ background-color:#fff; color:#5361b9; border-bottom:1px solid #5361b9;}
.rexRowtable tr:last-child{ border-bottom:1px solid #ccc;}
.rexRowtable th{ padding:7px 5px; font-size:1.1em;}
.rexRowtable td{ padding:5px 5px;}
.rexRowtable th:first-child,.rexRowtable td:first-child{ text-align:left; padding-left:15px;}
.rexRowtable th:last-child,.rexRowtable td:last-child{ text-align:right; padding-right:15px;}
.notitle tr:first-child{ background-color:rgba(255,255,255,1); color:inherit; border-bottom:1px dashed #7b84ba; border-top:1px solid #ccc;}
.notitle tr:first-child:hover{ background-color:#fee5a7;}
.notitle tr:last-child{ border-bottom:1px solid #ccc;}
.rexTable .txt,.rexRowtable .txt{ display:inline-block; text-align:left;}

/* 信息提示 */
.alone td.tipMessage{ background-color:#fff; text-align:center;}
.tipMessage,td.tipMessage{ padding:10px; text-align:center;}
.tipMessage .fa:before{ font-size:1.2em; vertical-align:middle;}
.tipMessage .warning{ color:#f90;}
.tipMessage .warning:before{ content: "\f071";}
.tipMessage .alert{ color:red;}
.tipMessage .alert:before{ content: "\f057";}
.tipMessage .ok{ color:green;}
.tipMessage .ok:before{ content: "\f058";}
.tipMessage .loading{ color:#697ac1;}
.tipMessage .loading:before{ content:''; display:inline-block; width:24px; height:24px; background:url(images/loading.gif) no-repeat;}

/* 表单填写框架 */
.lay2col{ width:100%; min-width:340px; max-width:800px; margin:0 auto; text-align:left; font-size:0;}
.lay2col>*{ display:inline-block; width:50%; min-width:340px; font-size:14px;}
.lay2col>.alone{ width:100%;}
.formpart{ padding:5px 0; position:relative;}
.formpart.view{ border-bottom:1px solid #eee;}
.formpart.table{ padding-left:42px; padding-right:20px;}
.formpart>.rexLabel{ display:inline-block; vertical-align:middle; padding-right:10px; color:#777; width:110px; text-align:right;}
.formpart>span{ display:inline-block; vertical-align:middle; padding-right:20px; width:calc(100% - 110px); text-align:left;}
.formpart>.request:after{ content:'*'; font-size:1.4em; color:red; position:absolute; top:50%; margin-top:-9px; padding-left:3px;}
.formpart>span input[type='text'],.formpart>span input[type='password'],.formpart>span input[type='date'],.formpart>span textarea{ width:100%;}
.formpart>span .rexTurn{ margin:3px 5px 3px 0;}

/* 分页 */
.cutpage{ text-align:center; margin:0 auto; padding:10px;}
.cutpage>*{ margin:2px;}
/* 对话框样式 */
.dialog-title{ background-color:#7278ad; color:#eff1ff;}
.dialog-title h4 .fa{ color:#b4b9eb;}
.dialog-title.warning{ background-color:#f5b13c; color:#fff;}
.dialog-title.warning h4 .fa{ color:#ffeccb;}
/* 回复列表 */
.returnList .captionTitle{ border-bottom:1px solid #ccc; margin-bottom:5px;}
.returnList .reuser{ display:inline-block; width:100%; margin:5px 0; color:#777; font-size:12px;}
.returnList .reuser strong{ color:#333; font-size:14px; padding-right:5px;}
.returnList .recontent{ display:inline-block; padding:5px; background-color:#ccc; border-radius:6px; margin-bottom:5px; position:relative; text-align:left;}
.returnList .recontent:before{ content:''; width:0; height:0; overflow:hidden; font-size:0; border:5px solid transparent; position:absolute; top:-10px;}
.anuser{ text-align:left;}
.anuser .recontent{ background-color:#c9dcff;}
.anuser .recontent:before{ left:10px; border-bottom-color:#c9dcff;}
.anmanager{ text-align:right;}
.anmanager .recontent{ background-color:#78e569;}
.anmanager .recontent:before{ right:10px; border-bottom-color:#78e569;}
